
#faixa-mob{
    background-color:  #F8CA00;  
    border-bottom:1px solid rgb(243,243,243);
}

#faixa-mob h1{
    letter-spacing: .1em;
    font-weight: 900;
	color:rgb(243,243,243);

}

#conteudo{
    
    padding: 2em;
}

#conteudo .thumbnail{
    margin-right: 1.5em;
    box-shadow: 0 0 .1em rgba(180, 160, 15, 0.5);
    border-radius: 1px;
   background-color: #f8f8ff;
    
}

#conteudo .caption h2{
    
    font-weight: 200;
    line-height: 1.4em;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #e0e033;
    border-bottom-color: #62544f;
    border-bottom-style: solid;
    border-bottom-width: .1em;
}

#conteudo .caption p{
    letter-spacing: .1em;
    line-height: 1.7em; 
    font-size: .9em;    
        
}

.postGeral{
    padding: 3em;
}

.postGeral h1{
    font-weight: 200;
    line-height: 1.4em;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #e0e033;
    border-bottom-color: #62544f;
    border-bottom-style: solid;
    border-bottom-width: .1em;
}

.postGeral p{
    letter-spacing: .1em;
    line-height: 1.4em;         
}

post1{
    
}

post2{
    
}

post3{
    
}

post4{
    
}

post5{
    
}

post6{
    
}