@charset UTF-8;


body {
	color: #000;
}

.barrahome {
    display: inline-block;
	background-color: #DA70D6;
	height: 90px;
    margin-top: 20px;
    border-radius: 3px 20px;
    box-shadow: 03px 03px 5px #999;
}

.barra {
	display: inline-block;
    background-image: linear-gradient(to bottom, #AD2E90, #34022C 290%);
    padding: 30px 30px;
    color:#fff;
    font-size:20px;
    text-align:left;
	height: 90px;
	margin-bottom: 20px;
    border-radius: 3px 20px;
    box-shadow: 03px 03px 5px #999;
}

.textoprincipalpostdesing {
	display: inline-block;
    background-color: #FFFFFF;
	padding: 40px;
    border-radius: 05px;
    box-shadow: 03px 01px 5px #999;
    margin-bottom: 20px;
}

.textopostdesingcoluna2 {
	background-image: linear-gradient(to bottom, #FFFFFF, #FFF6FC 290%);
	padding: 30px;
    border-radius: 05px;
    box-shadow: 03px 01px 5px #999;
}

.footerpostdotextoprincipal {
	display: inline-block;
	background-color: #EFEFEF;
    border-radius: 05px;
    box-shadow: 03px 01px 5px #999;
    font-size: 12px;
}

.copyright {
	position: center;
}

.menulateralpostux {
    margin-top: inherit;
}

.imagem {
    display: block;
    border-radius: 03px;
    box-shadow: 03px 01px 5px #999;
    min-height: 200px;
    margin: 20px;
}

.imagens {
    float: left;
    border-radius: 03px;
    box-shadow: 03px 01px 5px #999;
    min-height: 200px;
    margin: 20px;
}

#parallaxBar {
    height:750px;
    background-color:#004c82;
    background-attachment: fixed;
    background: url(../../../img/sketch.png) 50% 0 fixed;
    position: relative;
    background-size: cover 800%;
}

.row {
    margin: 0;
}

.itemhome {
	min-height:255px;
	padding:20px;
    list-style: none;
    border-radius: 05px;
    box-shadow: 03px 01px 5px #999;
    background-color: #FFFFFF;
    opacity:.8;

}

li {
    list-style: none;
}

.hometitulo {
    max-height:150px;
	min-height:150px;
	overflow:hidden;
}

.timeline {
    position: relative;
    padding: 21px 0px 10px;
    margin-top: 4px;
    margin-bottom: 30px;
}

.timeline .line {
    position: absolute;
    width: 4px;
    display: block;
    background: currentColor;
    top: 0px;
    bottom: 0px;
    margin-left: 30px;
}

                    /* formata os anúncios */
.anuncios {
    width: 30%;
    height: 30%;
    margin-top: -30%;
}

            /* página de contato */
.pagformulario {
    height: auto;

    
    
}

.formulario {
    display: inline-block;
    height: auto;
    width: 320px;
	background-color: #F4F7DB;   --------
    border-radius: 3px 20px;
    box-shadow: 03px 03px 5px #999;
    padding: 30px 30px;
    font-size:20px;
    text-align:left;
	margin-bottom: 20px;
}


label {
    float: left; 
    clear: left; 
    margin: 11px 20px 0 0; 
    width: 95px;
    text-align: left; 
    font-size: 15px; 
    text-transform: uppercase;
}

input {
    width: 260px; 
    height: 35px; 
    padding: 5px 20px 0px 20px; 
    margin: 0 0 20px 0; 
    background-image: linear-gradient(to bottom, #FCFFF5, #D8FCE9 290%);
    border-radius: 5px;
    box-shadow: 0px 1px 0px #fff;
    font-size: 15px; 
    text-transform: uppercase; 
}


textarea {
    width: 260px; 
    height: 170px; 
    padding: 12px 20px 0px 20px; 
    margin: 0 0 20px 0;       
    background-image: linear-gradient(to bottom, #FCFFF5, #D8FCE9 290%); 
    border-radius: 5px;
    box-shadow: 0px 1px 0px #F4F7DB;
    font-size: 15px; 
    text-transform: uppercase;
}

textarea placeholder {
        color: #fff; text-shadow: 0px -1px 0px #f2f2f2; 
    }
    
input:focus, textarea:focus {
    background: #f2f2f2;
 
}

input/*[type=submit]*/ {
    width: 185px; 
    height: 52px; 
    float: right; 
    padding: 10px 15px; 
    margin: 0 15px 0 0;
    box-shadow: 0px 0px 5px #999;
    border: 1px solid #556f8c;
    background-image: linear-gradient(to bottom, #FCFFF5, #D8FCE9 290%);
    border-radius: 5px;
    cursor: pointer;
}


.abaixa{
margin-top:40px;
}
