<hr>
<footer id="footer">
	<div class="container">
		<div class="col-sm-3 col-xs-12">
			<nav class="navbar nav">
				<ul>
					<li class="footer-title">Sobre</li>
					<li><a href="#">Contato</a></li>
					<li><a href="#">Quem Somos</a></li>
					<li><a href="#">Parceiros</a></li>
					<li><a href="#">Anuncie</a></li>
					<li><a href="#">Normas de Utilização</a></li>
				</ul>
			</nav>
		</div>

		<div class="col-sm-3 col-xs-12 col-lg-offset-2">
			<nav class="navbar nav">
				<ul>
					<li class="footer-title">Tópicos</li>
					<li><a href="#">JavaScript</a></li>
					<li><a href="#">Design e UX</a></li>
					<li><a href="#">HTML e CSS</a></li>
					<li><a href="#">Mobile</a></li>
				</ul>
			</nav>
		</div>

		<div class="col-sm-3 col-xs-12">
			<nav class="navbar nav text-center">
				<ul>
					<span class="logo-footer glyphicon glyphicon-cloud"></span>
				</ul>
		</div>
			</nav>

	</div>

</footer>


<script src="<?php echo $path; ?>vendor/jquery/dist/jquery.min.js"></script>
<script src="<?php echo $path; ?>vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="<?php echo $path; ?>vendor/prism/dist/js/prism.js"></script>

</body>
</html>
