<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Portal BCB</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css" media="all">
		<link rel="shortcut icon" type="image/x-icon" href="favicon.png">

		<link rel="stylesheet" href="css/bootstrap-theme.css" media="all">

		<link rel="stylesheet" href="css/index.css" media="all">
	</head>

	<body>
		<div class="container-fluid">
			<header>
				<div class="row">
					<nav class="hidden-xs navbar navbar-nav text-center col-sm-12">
						<div class="nav-header">
							<div class="nav-title col-lg-3 col-lg-offset-4
							col-sm-4">
								<span class="glyphicon glyphicon-cloud logo-nav"></span>
								<a class="nav-brand" href="#">Bom Cabelo</a>
							</div>
							<div class="nav-comum col-lg-5 col-md-5 col-sm-7">
								<ul class="nav navbar-nav">
									<li><a href="#">Contato</a></li>
									<li><a href="#">Quem Somos</a></li>
									<li><a href="#">Anuncie</a></li>
									<li><a href="#">Parceiros</a></li>
								</ul>
							</div>
						</div>
					</nav>
				</div>

				<div class="row">
					<nav class="navbar navbar-nav nav-baixo text-center col-sm-12">
						<div class="navbar-header visible-xs">
							<div class="navbar-brand">
								<span class="glyphicon glyphicon-cloud logo-nav-baixo"></span>
								<a class="nav-brand black">Bom Cabelo</a>

							</div>
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-baixo" aria-expanded="false">
								<span class="icon-bar black"></span>
								<span class="icon-bar black"></span>
								<span class="icon-bar black"></span>
							</button>
						</div>
						<div class="col-sm-8 col-md-offset-4 collapse navbar-collapse" id="nav-baixo">
							<ul class="nav navbar-nav nav-baixo" 
		   >
								<li><a href="#">
										<span class="glyphicon glyphicon-dot green"></span>
										JavaScript</a></li>
								<li><a href="#"><span class="glyphicon glyphicon-dot purple"></span>
										Design e UX</a></li>
								<li><a href="#"><span class="glyphicon glyphicon-dot orange"></span>
										HTML e CSS</a></li>
								<li><a href="#"><span class="glyphicon glyphicon-dot yellow"></span>
										Mobile</a></li>

							</ul>
							<hr>
							<ul class="visible-xs nav navbar-nav nav-baixo">
								<li><a href="#">Contato</a></li>
								<li><a href="#">Quem Somos</a></li>
								<li><a href="#">Anuncie</a></li>
								<li><a href="#">Parceiros</a></li>

							</ul>
					</nav>
				</div>
			</header>

		</div>
