@charset "utf-8";

.faixa-post {
    background-color: #E97F02;
    height: 80%;
    border: 3px solid;
    margin-top: 1%;
}

.glyphicon-calendar {
    padding-left: 2%;
    margin-bottom: 2%;
}

.div-bio-autorh {
    background-color: white;
    border: 1px solid;
    width: 75%;
    height: 50%;
    margin: 1% 0% 0% 12.5%;
}

.bio-autorh {
    margin: -7% 1% 0% 35%;
    font-size: 120%;
}

.foto-autor {
    margin: 1% -10% 0% 15%;
    border-radius: 50%;
    width: 67px;
}

.container-post {
    height: 0%;
    width: 50%;
    background-color: white;
    margin: 1% 0% 0% 12.5%;
    padding-left: 25px;
    border-radius: 10px;
    margin-bottom: 2%;
}

.p-html { margin: 10px 0px 15px 0px; }

.img-post5 { 
    width: 60%;
    float: right;
}

.cont-aside-html {
    background-color: white;
    border-radius: 10px;
    width: 22%;
    margin: 1% 0% 0% 2.8%;
}

.more-this, .more-this-js, .more-this-mobile, .more-this-design { 
    font-size: 1.3em;
    text-align: center;
    padding: 5% 0% 5% 0%;
    margin: 0% -5.7% 0% -5.5%;
}

.more-this { background-color: #E97F02; }
.more-this-js { background-color: #8A9B0F; }
.more-this-mobile { background-color: #F8CA00; }
.more-this-design { background-color: #A03C8D; }

.links-aside { margin: 10% 0% 10% 0%; }

.data { font-family: Helvetica; }

@media (min-width: 1px) and (max-width: 1199px) {

    .glyphicon-calendar {
        margin-bottom: 3%;
    }

}

@media (min-width: 1px) and (max-width: 992px) {
    
    .cont-aside-html {
        width: 72%;
        margin: auto auto 2% 14%;
    }
    
    .autorpost {
        margin-left: 33%;
    }
    
    .bio-autorh {
        margin: 1% 0% 0% 0%;
        padding: 0% 2% 0% 2%;
    }
    
    .container-post {
        height: 0%;
        width: 72%;
        background-color: white;
        padding-left: 25px;
        margin: 1% 0% 0% 13.8%;
        border-radius: 10px;
        margin-bottom: 2%;
}
    .more-this, .more-this-js, .more-this-mobile, .more-this-design {
        font-size: 150%;
        margin: auto -2.3% auto -2.2%;
    }
    
}

@media (min-width: 1px) and (max-width: 767px) {
    
    .div-bio-autorh {
        margin-top: 2%;
    }
}