@charset "utf-8";

@media (min-width: 768px) and (max-width: 2400px) {

    .faixa-html {
        background-color: #E97F02;
        height: 100px;
        border-style: solid;
        border-width: 2px;
        border-radius: 10px;
        margin-top: 3%;
    }

    .gui-h1 {
        color: #fff;
        margin-top: 2.5%;
    }

    .data { padding-left: 15%; }



@media (min-width: 1px) and (max-width: 767px) {

    .faixa-html {
        background-color: #E97F02;
        height: 100px;
        width: 98%;
        border-style: solid;
        border-width: 2px;
        border-radius: 10px;
        margin-top: 3%;
    }

    .gui-h1 {
        color: #fff;
        margin-top: 2.5%;
    }

    .item-container {
        width: 99%;
    }

    .data { padding-left: 30%; }

}
