@charset "utf-8";

.faixa-html {
    background-color: #E97F02;
    height: 100px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    margin-top: 3%;
}

.gui-h1 {
    color: #fff;
    margin-top: 2.5%;
}

.caixa-h {
	margin-top: 35px;
	padding: 0px 7px 0px 7px;
}

.caixa-indexhtml {
    background-color: white;
    border: 10px ridge #E97F02;
    height: 220px;
}

.titulo-caixah {
    max-height: 150px;
	min-height: 150px;
	overflow: hidden;
    padding-left: 2%;
}

.titulo-caixah a { 
    color: black;
    font-weight: bold;
}

.caixah-footer {
    padding-left: 2%;
	margin-top: 10%;
}

.caixah-footer a { color:#E97F02; }

.data { padding-left: 13%; }

@media (min-width: 768px) and (max-width: 991px) {
    
    .caixah-footer { margin-top: 8%; }
    
}

@media (min-width: 1px) and (max-width: 767px) {

    .faixa-html { width: 98%; }

    .data { padding-left: 30%; }
    
    .caixah-footer { margin-top: 4%; }

}
